.rowSelected {
  background-color: var(--mantine-color-gray-1);
}

.table {
  color: var(--mantine-color-gray-5);
  background-color: var(--mantine-color-gray-0);
}

.row {
  cursor: pointer;

  /**hover **/
  &:hover {
    background-color: var(--mantine-color-gray-1);
  }
}
