.navbar {
  padding: var(--mantine-spacing-xs);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: var(--mantine-color-gray-1);
  padding-bottom: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-sm);
}

.navlink {
  font-weight: 400;
}

/* .navlink:hover { */
/*   background-color: var(--mantine-color-gray-2); */
/* } */

.active {
  background-color: var(--mantine-color-gray-2);
  border-radius: var(--mantine-radius-sm);
  color: var(--mantine-color-dark-7);
  font-weight: bold;
}
