.navbar {
  padding: var(--mantine-spacing-xs);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: var(--mantine-color-gray-1);
  padding-bottom: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-sm);
}

.navlink {
  display: flex;
  transition: all 0.1s ease-in-out;
  height: 32px;
  width: 100%;
  padding: 0 var(--mantine-spacing-xs);
  justify-content: flex-start;
  align-items: center;
  border-radius: var(--mantine-radius-xs);
  text-decoration: none;
}
