# fly.toml app configuration file generated for invoker on 2026-01-26T16:19:18+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'invoker'
primary_region = 'syd'

[build]
  dockerfile = 'Dockerfile'

[env]
  APP_VERSION = '0.1.0'
  ENVIRONMENT = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = false
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '15s'
    method = 'GET'
    path = '/health'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
